v-alert {
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
    padding: 16px;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    color: rgb(var(--on-surface));
    background-color: rgb(var(--color));
    height: fit-content;
}

v-alert[outlined] {
    background: transparent !important;
    border: thin solid currentColor;
    color: rgb(var(--color));
}

v-alert[dense] {
    padding: 8px;
}

v-alert[shaped] {
    border-radius: 24px 4px;
}
/* 
v-alert[type='warning'] {
    background-color: #fb8c00;
    caret-color: #fb8c00;
}

v-alert[type='warning'] {
    color: #fb8c00;
    caret-color: #fb8c00;
} */
