a { color: #2196f3; }
.primary {
  background-color: #2196f3;
  border-color: #2196f3;
}
.primary--text {
  color: #2196f3;
  caret-color: #2196f3;
}
.secondary {
  background-color: #424242;
  border-color: #424242;
}
.secondary--text {
  color: #424242;
  caret-color: #424242;
}
.accent {
  background-color: #ff4081;
  border-color: #ff4081;
}
.accent--text {
  color: #ff4081;
  caret-color: #ff4081;
}
.error {
  background-color: #ff5252;
  border-color: #ff5252;
}
.error--text {
  color: #ff5252;
  caret-color: #ff5252;
}
.info {
  background-color: #2196f3;
  border-color: #2196f3;
}
.info--text {
  color: #2196f3;
  caret-color: #2196f3;
}
.success {
  background-color: #4caf50;
  border-color: #4caf50;
}
.success--text {
  color: #4caf50;
  caret-color: #4caf50;
}
.warning {
  background-color: #fb8c00;
  border-color: #fb8c00;
}
.warning--text {
  color: #fb8c00;
  caret-color: #fb8c00;
}