/* Global selectors */
html {
    box-sizing: border-box;
    overflow-y: scroll;
    /* All browsers without overlaying scrollbars */
    -webkit-text-size-adjust: 100%;
    /* Prevent adjustments of font size after orientation changes in iOS */
    word-break: normal;
    tab-size: 4;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

footer {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    padding: 8px 16px;
    position: relative;
    border-color: rgba(var(--v-border-color), var(--v-border-opacity));
    border-style: solid;
    border-width: 0;
    box-shadow: 0px 0px 0px 0px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 0px 0px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 0px 0px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
    border-radius: 0;
    background: rgb(var(--color,var(--v-theme-surface)));
    color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
  }
  /* footer--border {
    border-width: thin;
    box-shadow: none;
  }
  footer--absolute {
    position: absolute;
  }
  footer--fixed {
    position: fixed;
  }
  footer--rounded {
    border-radius: 4px;
  } */