v-card {
    overflow-wrap: break-word;
    position: relative;
    transition-duration: 0.28s;
    transition-property: box-shadow, opacity, background;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-color: rgba(var(--border-color), var(--border-opacity));
    border-style: solid;
    border-radius: 4px;
}

v-card[border] {
    border-width: thin;
    box-shadow: none;
}

v-card[absolute] {
    position: absolute;
}

v-card[fixed] {
    position: fixed;
}

v-card-actions {
    align-items: center;
    display: flex;
    flex: none;
    min-height: 52px;
    padding: 0.5rem;
}

v-card-title {
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
    overflow: hidden;
    padding: 0.5rem 1rem;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    word-break: normal;
    word-wrap: break-word;
}

v-card v-card-title {
    line-height: 2rem;
}

v-card[density=comfortable] v-card-title {
    line-height: 1.75rem;
}

v-card[density=compact] v-card-title {
    line-height: 1.55rem;
}

/* v-card-subtitle */
v-card-subtitle {
    display: block;
    flex: none;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.0178571429em;
    opacity: var(--medium-emphasis-opacity);
    overflow: hidden;
    padding: 0 1rem;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}

/* v-card-text */
v-card-text {
    display: block;
}
v-card-text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 1rem;
    text-transform: none;
}
