v-flex {
    display: flex;
}

v-flex[fill] {
    flex: 1 1 auto;
}

v-flex[row] {
    flex-direction: row;
}

v-flex[column] {
    flex-direction: column;
}

v-flex[row-reverse] {
    flex-direction: row-reverse;
}

v-flex[column-reverse] {
    flex-direction: column-reverse;
}

v-flex[grow] {
    flex-grow: 1;
}

v-flex[shrink] {
    flex-shrink: 1;
}

v-flex[wrap] {
    flex-wrap: wrap;
}

v-flex[nowrap] {
    flex-wrap: nowrap;
}

v-flex[wrap-reverse] {
    flex-wrap: wrap-reverse;
}

