v-field {
    flex: 1 0;
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    --padding-start: 4px;
    --padding-end: 4px;
    /* --padding-top: 10px; */
    /* --padding-bottom: 6px; */
    --transition-duration: 0.4s;
}

v-field label {
    transition: color var(--transition);
    color: rgba(var(--on-background), var(--medium-emphasis-opacity));
    --field-label-scale: .75em;
    font-size: var(--field-label-scale);
}

v-field:has(input:focus) label {
    /* color: white; */
    color: rgba(var(--on-background), var(--high-emphasis-opacity));
}

v-field input, v-field select {
    outline: none;
    height: 40px;
    /* padding: 5px; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(var(--on-background), var(--high-emphasis-opacity));
    border: none;
    border-bottom: 1px solid;
    border-radius: 5px 5px 0 0;
    border-color: rgb(155, 155, 155);
    transition: all var(--transition-duration);
}

v-field:has(input:focus) input {
    border-color: rgb(var(--on-background));
}

/* Margin */
v-field label, v-field input, v-field v-field-hint {
    padding-inline-start: var(--padding-start);
    padding-inline-end: var(--padding-end);
}

/* hint */
v-field-hint {
    font-size: 12px;
}
v-field-hint {
    transition: all var(--transition-duration);
    opacity: 0;
}
v-field:has(input:focus) v-field-hint {
    opacity: 1;
}
