v-sheet {
  --border-radius-step: 4px;
  display: block;
  border-color: rgba(var(--v-border-color), var(--v-border-opacity));
  border-style: solid;
  border-width: 0;
  box-shadow: 0px 0px 0px 0px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 0px 0px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 0px 0px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
  border-radius: 0;
  background: var(--color, rgb(var(--surface)));
  color: rgba(var(--on-background), var(--v-high-emphasis-opacity));
}
v-sheet[border] {
  border-width: thin;
  box-shadow: none;
}
v-sheet[absolute] {
  position: absolute;
}
v-sheet[fixed] {
  position: fixed;
}
v-sheet[rounded] {
  border-radius: calc(var(--border-radius-step) * 1);
}

v-sheet[rounded="s"] {
  border-radius: calc(var(--border-radius-step) * 1);
}
v-sheet[rounded="m"] {
  border-radius: calc(var(--border-radius-step) * 2);
}
v-sheet[rounded="l"] {
  border-radius: calc(var(--border-radius-step) * 4);
}
v-sheet[rounded="xl"] {
  border-radius: calc(var(--border-radius-step) * 6);
}