[color=black] {
    --color: #000000;
}

[color=white] {
    --color: #FFFFFF;
}

[color=transparent] {
    --color: transparent;
}

[color=red] {
    --color: #F44336;
}

[color=pink] {
    --color: #e91e63;
}

[color=purple] {
    --color: #9c27b0;
}


[color=deep-purple] {
    --color: #673ab7;
}

[color=indigo] {
    --color: #3f51b5;
}

[color=blue] {
    --color: #2196F3;
}

[color=light-blue] {
    --color: #03a9f4;
}

[color=cyan] {
    --color: #00bcd4;
}

[color=teal] {
    --color: #009688;
}

[color=green] {
    --color: #4CAF50;
}

[color=light-green] {
    --color: #8bc34a;
}

[color=lime] {
    --color: #cddc39;
}

[color=yellow] {
    --color: #ffeb3b;
}

[color=amber] {
    --color: #ffc107;
}

[color=orange] {
    --color: #ff9800;
}

[color=deep-orange] {
    --color: #ff5722;
}

[color=brown] {
    --color: #795548;
}

[color=blue-grey] {
    --color: #607d8b;
}

[color=grey] {
    --color: #9e9e9e;
}

[color=shades-black] {
    --color: #000000;
}

[color=shades-white] {
    --color: #FFFFFF;
}

[color=shades-transparent] {
    --color: transparent;
}