<section>
    <h2>Flex helpers</h2>

    <article>

      <v-preview v-if="!collapse">
        <b>Default</b>
        <v-flex>
          <div>child 1</div>
          <div>child 2</div>
        </v-flex>

        <b>Row</b>
        <v-flex row>
          <div>child 1</div>
          <div>child 2</div>
        </v-flex>

        <b>Column</b>
        <v-flex column>
          <div>child 1</div>
          <div>child 2</div>
        </v-flex>
      </v-preview>

      <section>
        <h3>justify</h3>
        <b>Default</b>
        <v-preview v-if="!collapse">
          <v-flex>
            <div>child 1</div>
            <div>child 2</div>
          </v-flex>
        </v-preview>

        <b>start</b>
        <v-preview v-if="!collapse">
          <v-flex justify=start>
            <div>child 1</div>
            <div>child 2</div>
          </v-flex>
        </v-preview>

        <b>center</b>
        <v-preview v-if="!collapse">
          <v-flex justify=center>
            <div>child 1</div>
            <div>child 2</div>
          </v-flex>
        </v-preview>

        <b>end</b>
        <v-preview v-if="!collapse">
          <v-flex justify=end>
            <div>child 1</div>
            <div>child 2</div>
          </v-flex>
        </v-preview>

        <b>space-between</b>
        <v-preview v-if="!collapse">
          <v-flex justify=space-between>
            <div>child 1</div>
            <div>child 2</div>
          </v-flex>
        </v-preview>

        <b>space-evenly</b>
        <v-preview v-if="!collapse">
          <v-flex justify=space-evenly>
            <div>child 1</div>
            <div>child 2</div>
          </v-flex>
        </v-preview>

        <b>space-around</b>
        <v-preview v-if="!collapse">
          <v-flex justify=space-around>
            <div>child 1</div>
            <div>child 2</div>
          </v-flex>
        </v-preview>
      </section>
    </article>
  </section>