<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover" />

  <title>Petite-UI</title>
  <style>
    @import url(./style.css);
  </style>
  <script type="module">
    import * as TYPES from "../types.js"
    import { createApp } from 'https://unpkg.com/petite-vue?module'
    createApp({
      TYPES
    }).mount()
  </script>
</head>

<body v-scope="{ dark: true }" :class="dark ? 'v-theme--dark' : 'v-theme--light'">
  <v-toolbar position="fixed" color=deep-purple style="top:0">
    <button variant=text @click="dark = !dark">
      Toggle dark/light
      <v-icon v-if="!dark">mdi-weather-sunny</v-icon>
      <v-icon v-if="dark">mdi-weather-night</v-icon>
    </button>
  </v-toolbar>

  <main style="margin-top: 80px">
    <v-preview v-scope="{items: [
      {
        title: 'Item #1',
        value: 1,
      },
      {
        title: 'Item #2',
        value: 2,
      },
      {
        title: 'Item #3',
        value: 3,
      },
    ]}">
      <v-list nav>
        <v-list-item v-for="item in items" v-bind="item"></v-list-item>
      </v-list>
    </v-preview>
  </main>

  <script type="module">
    import "../components/index.js"
  </script>
</body>

</html>