.d-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

[flex] {
    display: flex;
}

[flex=fill] {
    flex: 1 1 auto;
}

[flex=row] {
    flex-direction: row;
}

[flex=column] {
    flex-direction: column;
}

[flex=row-reverse] {
    flex-direction: row-reverse;
}

[flex=column-reverse] {
    flex-direction: column-reverse;
}

[flex=grow-0] {
    flex-grow: 0;
}

[flex=grow-1] {
    flex-grow: 1;
}

[flex=shrink-0] {
    flex-shrink: 0;
}

[flex=shrink-1] {
    flex-shrink: 1;
}

[flex=wrap] {
    flex-wrap: wrap;
}

[flex=nowrap] {
    flex-wrap: nowrap;
}

[flex=wrap-reverse] {
    flex-wrap: wrap-reverse;
}

/* justify-content */
[justify=start] {
    justify-content: flex-start;
}

[justify=center] {
    justify-content: center;
}

[justify=end] {
    justify-content: flex-end;
}

[justify=space-between] {
    justify-content: space-between;
}

[justify=space-around] {
    justify-content: space-around;
}

[justify=space-evenly] {
    justify-content: space-evenly;
}

[align=start] {
    align-items: flex-start;
}

[align=end] {
    align-items: flex-end;
}

[align=center] {
    align-items: center;
}

[align=baseline] {
    align-items: baseline;
}

[align=stretch] {
    align-items: stretch;
}

[align=content-start] {
    align-content: flex-start;
}

[align=content-end] {
    align-content: flex-end;
}

[align=content-center] {
    align-content: center;
}

[align=content-space-between] {
    align-content: space-between;
}

[align=content-space-around] {
    align-content: space-around;
}

[align=content-space-evenly] {
    align-content: space-evenly;
}

[align=content-stretch] {
    align-content: stretch;
}