/* @import url("./size.css"); */
/* 
inspired by https://cdn.jsdelivr.net/npm/vuetify@3.0.3/dist/vuetify.css 
- rewritten to use calc functions
*/

[grid]{
    display: grid;
}

[grid="1"]{
    --grid: 1;
}
[grid="2"]{
    --grid: 2;
}
[grid="3"]{
    --grid: 3;
}
[grid="4"]{
    --grid: 4;
}
[grid="5"]{
    --grid: 5;
}
[grid="6"]{
    --grid: 6;
}

/* Gap control */
[gap="small"]{
    --gap: 10px;
}
[gap="medium"]{
    --gap: 20px;
}
[gap="large"]{
    --gap: 30px;
}
[gap]{
    grid-gap: var(--gap);
}

/* Breakpoint modifiers */
@media (min-width: 600px) {
    /* SM */
    [grid*="sm:1"]{
        --grid: 1;
    }
    [grid*="sm:2"]{
        --grid: 2;
    }
    [grid*="sm:3"]{
        --grid: 3;
    }
    [grid*="sm:4"]{
        --grid: 4;
    }
    [grid*="sm:5"]{
        --grid: 5;
    }
    [grid*="sm:6"]{
        --grid: 6;
    }
}
@media (min-width: 960px) {
    /* MD */
    [grid*="md:1"]{
        --grid: 1;
    }
    [grid*="md:2"]{
        --grid: 2;
    }
    [grid*="md:3"]{
        --grid: 3;
    }
    [grid*="md:4"]{
        --grid: 4;
    }
    [grid*="md:5"]{
        --grid: 5;
    }
    [grid*="md:6"]{
        --grid: 6;
    }
}

/* appliers */
[grid]{
    grid-template-columns: repeat(var(--grid),minmax(0,1fr));;
}
