/* @import url("./size.css"); */
/* 
inspired by https://cdn.jsdelivr.net/npm/vuetify@3.0.3/dist/vuetify.css 
- rewritten to use calc functions
*/

[grid]{
    display: grid;
}

[grid="2"]{
    grid-template-columns: auto auto;
}
[grid="3"]{
    grid-template-columns: auto auto auto;
}
[grid="4"]{
    grid-template-columns: auto auto auto auto;
}
[grid="5"]{
    grid-template-columns: auto auto auto auto auto;
}
[grid="6"]{
    grid-template-columns: auto auto auto auto auto auto;
}

/* Gap control */
[gap="small"]{
    --gap: 10px;
}
[gap="medium"]{
    --gap: 20px;
}
[gap="large"]{
    --gap: 30px;
}
[gap]{
    grid-gap: var(--gap);
}


/* Responsive */
@media (min-width: 600px) {
    /* SM */
    [grid-sm="2"]{
        grid-template-columns: auto auto;
    }
    [grid-sm="3"]{
        grid-template-columns: auto auto auto;
    }
    [grid-sm="4"]{
        grid-template-columns: auto auto auto auto;
    }
    [grid-sm="5"]{
        grid-template-columns: auto auto auto auto auto;
    }
    [grid-sm="6"]{
        grid-template-columns: auto auto auto auto auto auto;
    }
}
@media (min-width: 960px) {
    /* MD */
}
@media (min-width: 1280px) {
    /* LG */
}
@media (min-width: 1920px) {
    /* XL */
}