@import url(./root.css);
@import url(./spacing.css);
@import url(./text.css);
@import url(./colors/vars.css);
@import url(./colors/semantic.css);
@import url(./flex.css);
@import url(./position.css);
@import url(./size.css);
@import url(./sizing.css);
@import url(./display.css);
@import url(./grid.css);
@import url(./bg.css);

/* TODO */
[avatar] {
    border-radius: 50%;
}

[avatar] {
    height: 48px;
    width: 48px;
}

/* All element modifiers */
* {
    color: var(--color);
    background-color: var(--background-color);
    padding: var(--padding);
    margin: var(--margin);
}