:root {
    --background: #fff;
    --on-background: #000;
    --surface: #fff;
    --on-surface: #000;
    --overlay-multiplier: 1;
    
    --primary: 24, 103, 192;
    --secondary: 92, 187, 246;
    --error: 176, 0, 32;
    --info: 33, 150, 243;
    --success: 76, 175, 80;
    --warning: 251, 140, 0;
    --tertiary: 229, 115, 115;
    --accent: 0, 92, 175;

    /* opacity */
    --opacity: 0.6;
    --hover-opacity: 1;
    --border-opacity: 0.12;
    --high-emphasis-opacity: 0.87;
    --medium-emphasis-opacity: 0.6;
    --activated-opacity: 0.12;
}

.v-theme--light {
    color-scheme: normal;
    --opacity: 0.6;
    --hover-opacity: 0.4;
    --background: 255, 255, 255;
    --surface: 255, 255, 255;
    --surface-variant: 66, 66, 66;
    --on-surface-variant: 238, 238, 238;
    --on-background: 0, 0, 0;
    --on-surface: 0, 0, 0;
    --border-color: 0, 0, 0;
    --code: 245, 245, 245;
    --on-code: 0, 0, 0;
}

.v-theme--dark {
    color-scheme: dark;
    --background: 18, 18, 18;
    --surface: 33, 33, 33;
    --surface-variant: 189, 189, 189;
    --on-surface-variant: 66, 66, 66;
    --on-background: 255, 255, 255;
    --on-surface: 255, 255, 255;
    --border-color: 255, 255, 255;
    --code: 52, 52, 52;
    --on-code: 204, 204, 204;

    --secondary: 66,66,66;
}
