:root {
    --xs: 0.6;
    --s: 0.8;
    --m: 1;
    --l: 1.2;
    --xl: 1.4;
}

[size=xs] {
    --size: var(--xs);
}

[size=s] {
    --size: var(--s);
}

[size=m],[size=] {
    --size: var(--m);
}

[size=l] {
    --size: var(--l);
}

[size=xl] {
    --size: var(--xl);
}

/* alternative */
[size=x-small] {
    --size: var(--xs);
}

[size=small] {
    --size: var(--s);
}

[size=medium],[size=] {
    --size: var(--m);
}

[size=large] {
    --size: var(--l);
}

[size=x-large] {
    --size: var(--xl);
}