/* Margin */
[mx="auto"] {
    margin-right: auto;
    margin-left: auto;
}

[mx="0"],[my="0"],[ma="0"] {
    --margin: 0px;
}
[mx="1"],[my="1"],[ma="1"] {
    --margin: 4px;
}
[mx="2"],[my="2"],[ma="2"] {
    --margin: 8px;
}
[mx="3"],[my="3"],[ma="3"] {
    --margin: 12px;
}
[mx="4"],[my="4"],[ma="4"] {
    --margin: 16px;
}
[mx="5"],[my="5"],[ma="5"] {
    --margin: 20px;
}
[mx] {
    margin-right: var(--margin);
    margin-left: var(--margin);
}
[my] {
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}
[ma] {
    margin: var(--margin);
}