[color=black] {
    --color: 0, 0, 0;
}

[color=white] {
    --color: 255, 255, 255;
}

[color=transparent] {
    --color: transparent;
}

[color=red] {
    --color: 244, 67, 54;
}

[color=pink] {
    --color: 233,30,99;
}

[color=purple] {
    --color: 128,0,128;
}


[color=deep-purple] {
    --color: 103, 58, 183;
}

[color=indigo] {
    --color: 75,0,130;
}

[color=blue] {
    --color: 0,0,255;
}

[color=light-blue] {
    --color: 3, 169, 244
}

[color=cyan] {
    --color: 0, 188, 212
}

[color=teal] {
    --color: 0, 150, 136
}

[color=green] {
    --color: 76, 175, 80
}

[color=light-green] {
    --color: 139, 195, 74
}

[color=lime] {
    --color: 205, 220, 57
}

[color=yellow] {
    --color: 255, 235, 59
}

[color=amber] {
    --color: 255, 193, 7
}

[color=orange] {
    --color: 255, 152, 0
}

[color=deep-orange] {
    --color: 255, 87, 34
}

[color=brown] {
    --color: 121, 85, 72
}

[color=blue-grey] {
    --color: 96, 125, 139
}

[color=grey] {
    --color: 158, 158, 158
}

[color=black] {
    --color: 0, 0, 0
}

[color=white] {
    --color: 255, 255, 255
}
