/* Include components + common */
@import url(../style.css);

/* Icons */
@import url(https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css);

/* Some helpers */
v-preview {
    flex-direction: column;
    display: flex;
    background-color: #fafafa;
    margin: 10px;
    min-height: 50px;
    padding: 20px;
    position: relative;
    overflow: auto;
}

.v-theme--dark v-preview {
    background-color: #1e1e1e;
    color: #bababa;
}

.v-theme--light v-preview {
    background-color: #bababa;
    color: #1e1e1e;
}
